.updateForm {
    position: fixed;
    inset: 0;
    top: 25%;
    left: 25%;
    

    background-color: hsl(0, 0%, 80%);
    width: 50vw;
    height: 500px;
    
    border: 1px solid;
    border-radius: 5px;
}

.input {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  
}

.input input {
    margin-right: auto;
    margin-left: auto;

    background-color: hsl(0, 0%, 70%);


    width: 50%;
    height: 30px;
}

.input p {
    padding: 0;
    margin: 0;

    margin-right: auto;
    margin-left: auto;

    font-size: 30px;
}

.exitBtn {
    margin-top: 5px;
    margin-left: 5px;
    width: 7%;
    height: 40px;
}

.isComplete {
    margin-left: auto;
    margin-right: auto;


    width: 50%;
    height: 40px;
}

.editButton {
    margin-left: auto;
    width: 20%;
    height: 40px;
}
